music_controller/.env
spotify/credentials.py

frontend/__pycache__/
frontend/migrations/__pycache__
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.cache/
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/*.log
frontend/*.lock
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

api/*.pyc
api/__pycache__/
api/db.sqlite3
api/media/
api/staticfiles/
api/.env
api/*.log
api/*.pot
api/*.py[cod]
api/*.sqlite3
api/*.swp

spotify/*.pyc
spotify/__pycache__/
spotify/db.sqlite3
spotify/media/
spotify/staticfiles/
spotify/.env
spotify/*.log
spotify/*.pot
spotify/*.py[cod]
spotify/*.sqlite3
spotify/*.swp

# VSCode settings (optional)
.vscode/
